$--color-bg: #3f3f3f;
$--color-text: #fff;
$--color-link: #0070f3;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  background-color: $--color-bg;
}
main {
  min-height: 100vh;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  // align-items: center;
  text-align: center;
  background-color: $--color-text;
  border-radius: 1rem;
  a {
    color: #0070f3;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.active {
  color: $--color-link;
  cursor: default;
}
